.nav-wrapper{
    background-color: #373a3c;
    border-radius: 0;
    
}
.nav-wrapper .logo {
    font-size: 20px;
    font-weight: 700;
}
.custom-title{
    color: #373a3c;
    font-size: 45px !important;
    padding-left:25px;
}